@charset "ISO-8859-1";
.img-logo {
	width: 15em;
}
.img-slogan {
	width: 20em;
}
header {
	 font-family: "Poppins", sans-serif;
 	 font-weight: 500;
 	 color: rgb(18, 85, 130);
 	 background-color:  lightyellow;
}
.carousel-item img {
     height: 30rem;
     object-fit: cover; 
}
.carousel-caption {
	 bottom: 3.25rem; 
}
.dropdown-menu {
	font-size: 0.7em;
}
#facultad {
	background-color: mediumslateblue;
    padding: 30px;
    padding-bottom: 9.4rem;
    border-radius: 0 103% 86% / 0 0 39% 33%;
    overflow: hidden;
}
footer,.navbar, footer a, footer i {
	background-color: darkslateblue;
	--bs-navbar-active-color: #ffffff;
	color:#ffffff;
	--bs-navbar-color: #ffffff;
}
footer img {
	width: 19em;
}
.aviso-legal {
	align-items: self-end;
}
.offcanvas {
	--bs-offcanvas-bg: black;
	--bs-offcanvas-bg: transparent;
	box-shadow: -4px -4px 20px 3px rgba(255, 255, 255, 0.5);
}
.offcanvas-header {
	margin-top: 3rem;
    color: white;
}
.btn-close {
	opacity: 1;
	filter: brightness(0) invert(1);  /*Invierte el color del la x del btn-close */
	border:2px solid white;
}
.color-button {
	background-color: darkslateblue;
}
.color-mision {
	background-color: antiquewhite;
}
.color-mision h4 {
	font-weight: bolder;
    color: darkblue;
}
#noticias {
	margin-top: 7rem;
	margin-bottom: 7rem;
}
@media (max-width: 991px) {
	   footer {
	    font-size: 0.55em;
   	  }
}

@media (max-width: 768px) { 
	 #noticias .carousel-item img {
	  height: 20rem;
	}
	  footer img {
	     width: 10rem;
      }
	  footer h4 {
	   font-size: 1rem;
  	  }
}

@media (max-width: 575px) {
	 #noticias .carousel-item img {
	  height: 14rem;
	}
	.color-mision h4 {
	  font-size: 1.5rem;
	}
	.img-logo {
	  width: 7rem;
	}
	.img-slogan {
	  width: 11rem;
	}
}