@charset "ISO-8859-1";
.body {
	background-color: wheat;
}
.img-logo {
	width: 15em;
}
header {
	/* background-color: #BFD1E5;*/
	 /*background: radial-gradient(circle, #000, rgb(19 28 35));*/
	 background-color: white;
	 font-family: "Poppins", sans-serif;
 	 font-weight: 500;
 	 color: rgb(18, 85, 130);
 	 background-color: wheat;
 	/* box-shadow: -3px 3px 8px 4px #df8585;*/
}
.navbar {
	 /*background-color: #1D201F;*/
	 /*background-color: currentColor;*/
	--bs-navbar-color: #F4AC45;
	--bs-navbar-active-color:#F4AC45;
	 background-color: brown
}
.carousel-item img {
      width: 100%;
      height: 500px; 
      object-fit: cover; 
      opacity: 0.6;
}
.carousel-item {
	background-color: black;
	
}
.carousel-caption {
	  bottom: 3.25rem; 
}
.dropdown-menu {
	font-size: 0.7em;
}
#facultad {
	/*background-color: #f5b7a0;*/
	background-color: mediumslateblue;
	
    padding: 30px;
    border-radius: 0 90% 90% / 0 0 41% 15%;
    overflow: hidden;
}
.color1-somos {
	background-color: coral;
}
.color2-somos {
	background-color: darkslateblue;
}
.color1-container {
	background-color: darkslateblue;
    padding: 4em;
}

.color2-container {
	background-color: coral;
    padding: 4em;
}

.card {
	width: 30rem;
}

.card img {
	width: 28rem;
	height: 18rem;
}
footer,.navbar, footer a, footer i {
	background-color: darkslateblue;
	--bs-navbar-active-color: #ffffff;
	color:#ffffff;
	--bs-navbar-color: #ffffff;
}

footer img {
	width: 19em;
}

.aviso-legal {
	align-items: self-end
}