<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
   <head data-th-replace="~{/layouts/header :: head}"></head>
<body>
	<header data-th-replace="~{/layouts/header :: header}"></header>
		<div class="container-fluid my-5">
		       <div class="row">
		         <div class="col col-sm-12 fondo.form p-5">
		            <div class="row mb-5">
		               <div class="d-flex justify-content-center">
		                   <h1 class="fs-4">Listado de Docentes</h1>
		                 </div>
		               <div class="d-grid gap-2 d-md-flex justify-content-md-end">
		                  <a class="btn btn-info" data-th-href="@{/docente/nuevo}" role="button">Nueva Docente</a> 
					     <!--  <button class="btn btn-info me-md-2" type="button" data-th-href="@{/carrera/nuevo}">Nueva Carrera</button> -->
					    </div>
					    <div class="table-responsive">
						     <table class="table table-striped table-hover table-sm">
								  <thead class="table-warning text-center">
								    <tr>
								      <th scope="col">Legajo</th>
								      <th scope="col">Apellido - Nombre</th>
								      <th scope="col">E-mail</th>
								      <th scope="col">Telefono</th>
								      <th scope="col">Opciones</th>
								    </tr>
								  </thead>
								  <tbody class="text-center">
								    <tr data-th-each="docente:${docentes}">
								      <th scope="row" data-th-text="${docente.legajo}"></th>
								      <td class="text-start" data-th-text="${docente.apellido} + ', ' + ${docente.nombre}"></td>
								      <td data-th-text="${docente.email}"></td>
								      <td data-th-text="${docente.telefono}"></td>
								      <td>
								              <div class="row justify-content-center">
								               <div class="col col-3">
								                 <a class="btn btn-primary" data-th-href="@{/docente/modificar/} + ${docente.legajo}" role="button">Modificar</a>
								               </div>
									        	<div class="col col-3">
									        		<a class="btn btn-danger" data-th-href="@{/docente/eliminar/} + ${docente.legajo}" role="button">Eliminar</a>
									        	</div>
									        	
								            </div> 
								            <!--  <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-2">
											        <a class="btn btn-primary btn-sm btn-md-md btn-lg-lg" data-th-href="@{/carrera/modificar/} + ${carrera.codigo}" role="button">Modificar</a>
											        <a class="btn btn-danger btn-sm btn-md-md btn-lg-lg" data-th-href="@{/carrera/eliminar/} + ${carrera.codigo}" role="button">Eliminar</a>
											    </div> -->

								      </td>
								    </tr>
								  </tbody>
							 </table>
							 </div>
					 </div>
		         </div>
			</div>
	     </div>
	
	<footer data-th-replace="~{/layouts/footer ::  footer}"></footer>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>