<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
    <head data-th-replace="~{/layouts/header :: head}"></head>
<body>
    <header data-th-replace="~{/layouts/header :: header}"></header>
       <article>
         <div id="carouselExampleCaptions" class="carousel slide">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
							<div class="carousel-item active bg-black">
								<img src="/images/carousel-1.png" class="d-block w-100 opacity-50" alt="imagen-1-carrusel">
								<div class="carousel-caption  d-md-block">
									<h3>Celebrando 52 Años de Logros</h3>
									<p>¡Feliz Aniversario, Facultad de Ingeniería</p>
							   </div>
						    </div>
							<div class="carousel-item bg-black">
								<img src="/images/carousel-2.png" class="d-block w-100 opacity-50" alt="imagen-2-carrusel">
								<div class="carousel-caption  d-md-block">
									<h3>Semana de la Mineria</h3>
									<p>Explorando los desafíos y oportunidades en la industria minera</p>
								</div>
							</div>
							<div class="carousel-item bg-black">
								<img src="/images/carousel-3.png" class="d-block w-100 opacity-50" alt="imagen-3-carrusel">
								<div class="carousel-caption  d-md-block">
									<h3>Construyendo un futuro mejor</h3>
									<p>Formamos líderes innovadores y comprometidos.</p>
								</div>
							</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
			</div>
       </article>
          <main>
		       <section id="facultad" >
		       	  <div class="container-fluid py-5 d-flex flex-column">
			       	    <div id="mision" class="mb-md-5">
				       	    <div class="row justify-content-around align-items-center row-gap-5">
					       	      <div class="col-lg-4 col-md-9 col-sm-8 col-10">
					       	         <div class="row justify-content-center">
					       	             <div class="col-lg-12 px-5 pt-4 pb-4 color-mision">
					       	                <h4 class="display-4">Misión</h4>
					       	         	 	<p>Ofrecer una formación de excelencia, priorizando la eficacia y asegurando la accesibilidad para todos</p>
					       	             </div>
					       	         </div>   
					       	      </div>
					       	      
					       	      <div class="col-lg-3 col-md-9 col-sm-8 col-10 text-center">
					       	          <img alt="Img de union de manos" src="/images/union.png" class="img-fluid">
					       	      </div>
					       	      
					       	      <div class="col-lg-4 col-md-9 col-sm-8 col-10">
					       	          <div class="row justify-content-center">
						       	              <div class="col-lg-12 px-5 pt-4 pb-4 color-mision">
								       	          <h4 class="display-4">Visión</h4>
								       	          <p>Ser una universidad líder en inclusión, ofreciendo igualdad de oportunidades y apoyo para todos</p>
						       	              </div>
					       	           </div>
					       	      </div>
				       	    </div>
			       	    </div>
			       	    <div id="valores"  class="mt-md-3 mt-sm-5 mt-5">
					       	       <div class="row pb-lg-5">
					       	             <div class="d-flex justify-content-center">
					       	                <div class="text-center col-4 px-lg-5 pt-lg-4 pb-lg-4 color-mision">
					       	                  <h4 class="display-4">Valores</h4>
					       	                </div>
					       	      		</div>
					       	       </div>
					       	        
					       	     <div class="row align-items-center justify-content-center column-gap-5 row-gap-5 mt-md-5 mt-sm-4 mt-4">
						       	        <div class="col-lg-3 col-md-8 col-sm-10">
						       	           <div class="d-flex justify-content-center">
							       	        <div class="card card w-100 h-100">
							       	             <div class="container h-75">
												 	 <img src="/images/foto-somos-1.png" class="card-img-top img-fluid h-100 w-auto" alt="card-union">
												  </div>
												  <div class="card-body text-center">
												    <div class="container-fluid py-3">
												    	<h4 class="card-title">Unión</h4>
												   		<p class="card-text">Promovemos el avance mediante la colaboración</p>
												    </div>
												    
												  </div>
											</div>
										  </div>
										</div>
										<div class="col-lg-3 col-md-8 col-sm-10">
										  <div class="d-flex justify-content-center">
											<div class="card card w-100 h-100">
												  <div class="container h-75">
												  	<img src="/images/foto-somos-2.png" class="card-img-top img-fluid h-100 w-auto" alt="card-compromiso">
												  </div>
												  <div class="card-body text-center">
												    <div class="container-fluid py-3">
												      <h4 class="card-title">Compromiso</h4>
												  	  <p class="card-text">Leales dedicados al desarrollo y la innovación</p>
												    </div>
												    
												  </div>
											</div>
										  </div>
										</div>
						       	          <div class="col-lg-3 col-md-8 col-sm-10">
						       	             <div class="d-flex justify-content-center">
								       	        <div class="card card w-100 h-100">
								       	             <div class="container h-75">
													  	<img src="/images/foto-somos-3.png" class="card-img-top img-fluid h-100 w-auto" alt="card-crecimiento">
													  </div>
													  <div class="card-body text-center">
													    <div class="container-fluid py-3">
													    	<h4 class="card-title">Crecimiento</h4>
													  		<p class="card-text">Nuestra constancia define nuestra autenticidad</p>
													    </div>
													    
													  </div>
												</div>
											 </div>
									   </div>
					       	     </div>
			       	       </div>
		       	    </div>
		       </section>
		       
		       <section id="noticias">
		           <div class="container">
		                   <div class="my-lg-5">
		                    	<h4 class="display-3">Noticias Recientes</h4>
		                    </div>
			       			<div id="carouselCaptionsNotices" class="carousel slide">
							  <div class="carousel-indicators">
							    <button type="button" data-bs-target="#carouselCaptionsNotices" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
							    <button type="button" data-bs-target="#carouselCaptionsNotices" data-bs-slide-to="1" aria-label="Slide 2"></button>
							    <button type="button" data-bs-target="#carouselCaptionsNotices" data-bs-slide-to="2" aria-label="Slide 3"></button>
							    <button type="button" data-bs-target="#carouselCaptionsNotices" data-bs-slide-to="3" aria-label="Slide 4"></button>
							    <button type="button" data-bs-target="#carouselCaptionsNotices" data-bs-slide-to="4" aria-label="Slide 5"></button>
							  </div>
							  <div class="carousel-inner">
							    <div class="carousel-item active bg-black">
							         <img src="/images/not-1.jpeg" class="d-block w-100 img-fluid opacity-50" alt="carrusel-noticia-1">
							      <div class="carousel-caption d-md-none d-lg-block d-sm-none d-none">
							          <a class="btn btn-outline-danger" href="https://fi.unju.edu.ar/unju/4580-campana-de-vacunacion-unju-2024.html" role="button">Campaña de vacunación UNJu 2024</a>
							      </div>
							       <div class="carousel-caption d-md-block d-lg-none d-sm-block d-block">
							        <a class="btn btn-primary" href="https://www.fi.unju.edu.ar/posgrado-noticias/4578-curso-de-posgrado-fisicoquimica-especializacion.html" role="button">Ver Mas</a>
							      </div>
							    </div>
							    <div class="carousel-item bg-black">
							      <img src="/images/not-2.png"  class="d-block w-100 img-fluid opacity-50" alt="carrusel-noticia-2">
							      <div class="carousel-caption d-md-none d-lg-block d-sm-none d-none">
							     	 <a class="btn btn-outline-danger" href="https://www.fi.unju.edu.ar/noticias-generales/4579-reflexiones-del-2-encuentro-de-la-diplomatura-en-formacion-integral-del-lider-y-estrategias-de-conduccion-consciente.html" role="button">
							       	 2° Encuentro de la Diplomatura en Formación Integral del Líder y Estrategias de Conducción Consciente</a> 
							      </div>
							      <div class="carousel-caption d-md-block d-lg-none d-sm-block d-block">
							        <a class="btn btn-primary" href="https://www.fi.unju.edu.ar/posgrado-noticias/4578-curso-de-posgrado-fisicoquimica-especializacion.html" role="button">Ver Mas</a>
							      </div>
							    </div>
							    <div class="carousel-item bg-black">
							      <img src="/images/not-3.jpeg"   class="d-block w-100 img-fluid opacity-50" alt="carrusel-noticia-3">
							      <div class="carousel-caption d-md-none d-lg-block d-sm-none d-none">
							        <a class="btn btn-outline-danger" href="https://www.fi.unju.edu.ar/turno-ordinario-de-examenes" role="button">
							         2do Turno Ordinario de exámenes</a>
							      </div>
							       <div class="carousel-caption d-md-block d-lg-none d-sm-block d-block">
							        <a class="btn btn-primary" href="https://www.fi.unju.edu.ar/posgrado-noticias/4578-curso-de-posgrado-fisicoquimica-especializacion.html" role="button">Ver Mas</a>
							      </div>
							    </div>
							    <div class="carousel-item bg-black">
							      <img src="/images/not-4.png"  class="d-block w-100 img-fluid opacity-50" alt="carrusel-noticia-4">
							      <div class="carousel-caption d-md-none d-lg-block d-sm-none d-none">
							           <a class="btn btn-outline-danger btn-ver" href="https://www.fi.unju.edu.ar/posgrado-noticias/4578-curso-de-posgrado-fisicoquimica-especializacion.html" role="button">
							         	Curso de posgrado Fisicoquímica</a>
							      </div>
							      <div class="carousel-caption d-md-block d-lg-none d-sm-block d-block">
							        <a class="btn btn-primary" href="https://www.fi.unju.edu.ar/posgrado-noticias/4578-curso-de-posgrado-fisicoquimica-especializacion.html" role="button">Ver Mas</a>
							      </div>
							    </div>
							    <div class="carousel-item bg-black">
							      <img src="/images/not-5.jpeg"   class="d-block w-100 img-fluid opacity-50" alt="carrusel-noticia-5">
							      <div class="carousel-caption d-md-none d-lg-block d-sm-none d-none">
							         <a class="btn btn-outline-danger" href="https://www.fi.unju.edu.ar/noticias-generales/4576-52%C2%B0-aniversario-de-la-facultad-de-ingenieria-de-la-unju.html" role="button">
							         	52° Aniversario de la Facultad de Ingeniería de la UNJu</a>
							      </div>
							       <div class="carousel-caption d-md-block d-lg-none d-sm-block d-block">
							        <a class="btn btn-primary" href="https://www.fi.unju.edu.ar/posgrado-noticias/4578-curso-de-posgrado-fisicoquimica-especializacion.html" role="button">Ver Mas</a>
							      </div>
							    </div> 
							  </div>
							  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptionsNotices" data-bs-slide="prev">
							    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							    <span class="visually-hidden">Previous</span>
							  </button>
							  <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptionsNotices" data-bs-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="visually-hidden">Next</span>
							  </button>
							</div>	
		             </div>
		      </section>            
     </main>
     
     <aside class="position-absolute top-0">
		   <div class="container-fluid mt-2">
			    <button class="btn btn-primary color-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAside" aria-controls="offcanvasAside">
	                <i class="fa-solid fa-bars"></i>
			    </button>
		   </div>
			<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAside" aria-labelledby="offcanvasAsideLabel">
				<div class="offcanvas-header">
				   <div class="container d-flex justify-content-between align-items-center">
					     <h5 class="offcanvas-title" id="offcanvasAsideLabel">FI servicios</h5>
						<button type="button" class="btn btn-link text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
							<i class="fas fa-times py-1 px-2 border border-white rounded"></i>
						</button>
				   </div>
				</div>
	
				<div class="offcanvas-body">
				        <ul class="nav flex-column">
				            <li class="nav-item"><a class="nav-link active text-white" href="https://www.fi.unju.edu.ar/servicios/biblioteca.html">Biblioteca</a></li>
				            <li class="nav-item"><a class="nav-link text-white" href="https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html">Calendario Académico</a></li>
				            <li class="nav-item"><a class="nav-link text-white" href="https://becas.unju.edu.ar/">Becas UNJu</a></li>
				            <li class="nav-item"><a class="nav-link text-white" href="https://www.unju.edu.ar/comedor.html">Comedor Universitario</a></li>
				            <li class="nav-item"><a class="nav-link text-white" href="https://www.fi.unju.edu.ar/practicaprofesional.html">Práctica Profesional</a></li>
				            <li class="nav-item"><a class="nav-link text-white" href="https://www.fi.unju.edu.ar/pasantias.html">Pasantías</a></li>
				       </ul>
				  </div>
			</div>
     </aside>
     <footer data-th-replace="~{/layouts/footer :: footer}"></footer>
     
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>